.accounts_at_a_glance {
    width: 630px;
    margin: auto;
    height: calc(100vh - 200px);
    overflow: auto;
    margin-bottom: 45px;

    table {

        tfoot,
        tbody {
            tr {
                td {

                    &:nth-child(1),
                    &:nth-child(3) {
                        text-align: left;
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        width: 100px;
                        text-align: right;
                    }
                }
            }
        }
    }
}

.list_card .accounts_at_a_glance .table> :not(caption)>*>* {
    padding: 9px 5px;
}

.row_sticky {
    position: sticky;
    left: 0;
    top: -2px;
    box-shadow: 0px 4px 5px -3px #0000008a;

    @media print {
        box-shadow: unset;
        position: unset;
    }

    td {
        background: #283046;

        @media print {
            background: unset;
        }
    }
}

.footer_fixed {
    position: sticky;
    bottom: -2px;
    left: 0;
    box-shadow: 0px -2px 15px -4px rgba(0, 0, 0, 0.5411764706);

    @media print {
        box-shadow: unset;
        position: unset;
    }

    td {
        background: #283046;

        @media print {
            background: unset;
        }
    }
}

@media print {

    body,
    html {
        height: unset !important;
    }

    .upload_demo_form,
    .dark-layout .header-navbar,
    .page_title,
    .vertical-layout.vertical-menu-modern .main-menu {
        display: none !important;
    }

    .dark-layout .card {
        background-color: white;
        padding: 0 !important;
    }

    .vertical-layout.vertical-menu-modern .app-content {
        margin: 0;
        padding: 0;
        overflow: unset;
        position: unset;
        padding: 30px !important;
    }

    .content-body {
        min-height: unset;
        max-height: unset;
        overflow-y: unset;
    }

    .accounts_at_a_glance {
        // padding: unset !important;
        height: unset !important;
        overflow: unset !important;
        // min-width: unset !important;
        // max-width: unset !important;
        // width: unset !important;
        // margin: unset !important;
        // max-width: unset !important;
        // min-height: unset !important;
    }

    .dark-layout body,
    body.dark-layout {
        color: black;
        background-color: unset;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    button,
    .dark-layout h1,
    .dark-layout h2,
    .dark-layout h3,
    .dark-layout h4,
    .dark-layout h5,
    .dark-layout h6,
    .dark-layout .table .thead tr:not([class*=table-]) td,
    .dark-layout .table .thead tr:not([class*=table-]) th,
    .dark-layout .table tbody tr:not([class*=table-]) td,
    .footer_fixed,
    .row_sticky,
    .footer_fixed td,
    .card,
    .dark-layout .table tbody tr:not([class*=table-]) th {
        color: black !important;
        text-shadow: unset !important;
        box-shadow: unset !important;
        background-color: unset !important;
        position: unset;
    }

    .income_expense_date_field {
        color: black;
    }
}
