/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.zip
/public/uploads/products/*
/public/uploads/product/*
/public/uploads/payment/*
/public/uploads/receipt/*
/*.zip
/public/css/backend.css
/public/css/backend.css.map
/public/css/tailwind
/public/js/app.js
/public/js/app.js.map
/public/js/vue/*
/public/vendor/*
public/uploads/supplier_payments/*.jpg
*.zip
